//
// a,
// a:focus,
// a:hover {
//   color: #fff;
// }
//
// /* Custom default button */
// // .btn-default,
// // .btn-default:hover,
// // .btn-default:focus {
// //   color: #333;
// //   text-shadow: none; /* Prevent inheritance from `body` */
// //   background-color: #fff;
// //   border: 1px solid #fff;
// // }
//
// /* Regular Weight */
// @font-face {
//     font-family: Montserrat;
//     src: url("../fonts/Montserrat-Regular.ttf");
// }
//
// /* Bold Weight (700) Weight */
// @font-face {
//     font-family: Montserrat;
//     src: url("../fonts/Montserrat-Bold.ttf");
//     font-weight: 700;
// }
//
// /* Thin Weight */
// @font-face {
//     font-family: Montserrat;
//     src: url("../fonts/Montserrat-thin.ttf");
//     font-weight: 200px;
// }
//
// body {
//   height: 100%;
//   background-color: rgb(12,179,248);
//   font-family: 'Montserrat', sans-serif;
// }
//
// .col-xl- {
//   width: 1140px;
//     // @include make-container(fluid);
//   }
//
//
// .h1 {
//   font-family: 'Montserrat', sans-serif;
//   color: white;
//   font-size: 70px;
//   font-weight: 700px;
// }
//
// .h2 {
//   font-family: 'Montserrat', sans-serif;
//   color: white;
//   font-size: 70px;
// }
//
// .h3 {
//   font-family: 'Montserrat', sans-serif;
//   font-size: 16px;
//   font-weight: 700px;
//   color: white;
// }
//
// .h4 {
//   font-family: 'Montserrat', sans-serif;
//   font-size: 9px;
//   color: white;
// }
//
// .h5 {
//   font-family: 'Montserrat', sans-serif;
//   font-size: 12px;
//   text-align:  left;
//     font-weight: 200px;
//     color: black;
// }
//
// .h6 {
//   font-family: 'Montserrat', sans-serif;
//   font-size: 70px;
//   color: black;
//   text-align: center;
// }
//
// .h7 {
//   font-family: 'Montserrat', sans-serif;
//   font-size: 12px;
//   text-align:  left;
//     font-weight: 10px;
//     color: black;
// }
//
// .button1 {
//   background-color: transparent;
//   border: 2px solid white;
//   color: white;
//   padding: 20px;
//   text-align: center;
//   text-decoration: none;
//   display:  inline-block;
//      float:  none;
//      text-align:  center;
//      width:  220px;
//      height:  50px;
//      line-height: 40px;
//      padding:  0px;
//      font-size: 14px;
//      color:  #fff;
//   font-size: 16px;
//   margin: 4px 2px;
//   cursor: pointer;
//      border-radius: 35px;
// }
//
//
// .button2 {
//   background-color: #0081ff;
//   border: 0px;
//   color: white;
//   padding: 20px;
//   text-align: center;
//   text-decoration: none;
//   display:  inline-block;
//      float:  none;
//      text-align:  center;
//      width:  80px;
//      height:  20px;
//      // line-height: 7px;
//      padding: 0px;
//      font-size: 11px;
//      color:  #fff;
//   margin: 4px 2px;
//   cursor: pointer;
//   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
//      border-radius: 35px;
// }
//
// .button3 {
//   background-color: transparent;
//   border: 2px solid #0081ff;
//   color: black;
//   padding: 20px;
//   text-align: center;
//   text-decoration: none;
//   display:  inline-block;
//      float:  none;
//      text-align:  center;
//      width:  150px;
//      height:  50px;
//      line-height: 40px;
//      padding:  0px;
//      font-size: 8px;
//      color:  #000;
//   font-size: 16px;
//   margin: 4px 2px;
//   cursor: pointer;
//      border-radius: 35px;
// }
//
//
// .button4 {
//   background-color: white;
//   border: 0px solid white;
//   color: black;
//   padding: 20px;
//   text-align: center;
//   text-decoration: none;
//   display:  inline-block;
//      float:  none;
//      text-align:  center;
//      width:  120px;
//      height:  30px;
//      line-height: 40px;
//      padding:  0px;
//      font-size: 14px;
//      color:  #000;
//   font-size: 16px;
//   margin: 4px 2px;
//   cursor: pointer;
//      // border-radius: 35px;
// }
//
//
//
// #background2 {
//   padding: 40px;
//   background: rgb(255,255,255);
//   background-clip: padding-box;
// }
//
// #background3 {
//   padding: 40px;
//   background: rgb(245,244,244);
//   background-clip: padding-box;
// }
//
// #background4 {
//   padding: 40px;
//   background: rgb(34,34,34);
//   background-clip: padding-box;
// }
//
//
// #background5 {
//   padding: 40px;
//   background-image: url("../images/cliffs.png")
//   // display: inline-block;
//   // background-size: cover;
// }
//
//  .crossfd {
//    background-size: cover;
//  }
//
// .row {
//   background: #0cb3f8;
// }
//
// .row3 {
// background: rgb(255,255,255);
// color: #000000;
//
// }
//
// .container2 {
// background-color: rgb(255,255,255);
//
// }
//
//
// .container3 {
//   justify-content: space-evenly;
// }
//
//   .price {
//     background: white;
//     border-radius: 5px;
//     padding-top: 20px;
//     padding-bottom: 10px;
//     &.alt {
//       background: rgb(27,139,249);
//     }
//
//   &.hero-image {
//     background: rgb(12,179,248);
//
// // .price {
// //   background: white;
// //   border-radius: 5px;
// //   padding-top: 20px;
// //   padding-top: 10px;
// //   &.alt {
// //     background: rgb(27,139,249);
// //   }
//
// .item {
//   flex-basis:  | auto; /* default auto */
// }
// }
// }



body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(12, 179, 248);
/* Menu bar */
  .navbar {
    color: white;
    font-weight: 700;
    margin-left: 98px;
    margin-right: 98px;
}
  .navbar-brand {
    color: white;
    font-size: 16.39pt;
}
  .nav-link {
    font-size: 12pt;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  }
    .nav-link:hover, {
    border-bottom: 3px solid white;
  }

/*top container*/
h1 {
  font-size: 70pt;
  font-weight: bold;
  color: white;
  margin-top: 140px;
}
  .hero-word {
    font-size: 21pt;
    color: white;
    margin-bottom: 100px;
  }
  .learn {
    font-size: 10pt;
    color: white;
    padding: 2px;
    margin-left: 35px;
  }
    .learn:hover, {
      color: white;
      text-decoration: none;
      border-bottom: 3px solid white;
  }
.download {
  height: 42px;
  width: 144px;
  border: 1px solid white;
  border-radius: 42px;
  background: none;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 10pt;
  font-weight: 600;
  letter-spacing: 0.04em;
  a {
    text-decoration: none;
    color: white;
  }
}

.apple {
  padding-right: 5px;
  margin-top: -5px;
}
.btn-hover {
  height: 42px;
  width: 144px;
  border: 1px solid white;
  border-radius: 42px;
  background: white;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(36, 37, 38);
  font-size: 10pt;
  font-weight: 600;
  letter-spacing: 0.04em;
  a {
    color: rgb(36, 37, 38);
      text-decoration: none;
  }
  body img.iphone_tilted {
   margin-bottom: -60px;
   margin-right: -20px; }
}
.bar {
  color: rgb(41, 37, 52);
  font-size: 13pt;
  display: inline-flex;
  vertical-align: middle;
  background: white;
  width: 100%;
  }
  .new {
    width: 60px;
    height: 20px;
    background: rgb(0, 129, 255);
    box-shadow: 12px 12px 6px 6px rgba(129, 255, 253, .2);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 9pt;
    font-transform: uppercase;
    margin-right: 30px;
    margin-left: 96px;
  }
  #newp {
    padding-top: 20px;
    padding-bottom: 20px;
  }

/*end top container*/
/*content beginning*/
.main {
  background: rgb(244, 245, 245);
  color:  rgb(36, 37, 38);
}
#firsth2 {
  color: rgb(36, 27, 28);
  margin-top: 70px;
}
.content-sub {
  color: rgb(116, 116, 116);
  font-size: 15.99pt;
  font-weight: lighter;
  margin-bottom: 78px;
}
#mainh3 {
  color: rgb(36, 27, 28);
  font-size: 13pt;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  }
#mainp {
  color: rgb(116, 116, 116);
  font-size: 13pt;
  text-align: center;
  margin-bottom: 75px;
}
.iphone {
  margin-bottom: 100px;
}


/*pricing container*/
  .row-price {
    background: rgb(34, 34, 34);
    color: white;
}
h2 {
  font-size: 44pt;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 35px;
}
#prices {
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
}
  .price {
    background: white;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 45px;
    margin-bottom: 110px;
    margin-top: 40px;
    color: rgb(36, 37, 38);

    &.blue {
      background: rgb(27, 139, 249);
      color: white;
          }
  }
    .price ul {
    padding: 0;
    padding-inline-start: 0;
    list-style-type: none;
    font-size: 14pt;
    font-weight: normal;
  }
    .price p {
      font-size: 12pt;
      font-weight: normal;
  }
  .pricing {
    background: none;
    border: none;
  }
    #amount {
      font-size: 48pt;
      font-weight: bold;
    }
  #sub {
    font-size: 16pt;
    color: rgb(188, 198, 208);
    font-weight: lighter;
    padding-bottom: 40px;
}
/*subscribe*/
.subscribe {
  background-image: url(../images/cliffs.png);
  background-size: cover;
  color: white;
}
#subscribeh2 {
  color: white;
  margin-top: 67px;
}
.subscribe-sub {
  font-size: 14pt;
  font-weight: lighter;
  margin-top: 22px;
  margin-bottom: 53px;
}
.entrybox {
  width: 321px;
  height: 43px;
  border-radius: 5px;
  opacity: .25;
  border: none;
  color: white;
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 96px;
}

.send {
  width: 144px;
  height: 42px;
  background: white;
  border-radius: 5px;
  color: rgb(36, 37, 37);
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 96px;
}
/*footer*/
footer {
  background: white;
  color: rgb(36, 37, 38);
  padding-top: 50px;
  padding-left: 93px;
  padding-right: 93px;
}
.footer-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: rgb(36, 37, 38);
}
.footie {
    text-decoration: none;
    color: rgb(36, 37, 38);
    font-size: 11pt;
    font-weight: bold;
    padding-bottom: 45px;
  }
.about-us {
  font-size: 11pt;
  font-weight: lighter;
    padding-top: 40px;
}
}
