a,
a:focus,
a:hover {
  color: #fff; }

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff; }

body {
  height: 100%;
  background-color: #0cb3f8; }

body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif; }

.col-xl- {
  width: 1140px; }

.h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  font-weight: 700px; }

.h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px; }

.h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

.h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px; }

.button1 {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: none;
  text-align: center;
  width: 220px;
  height: 60px;
  line-height: 40px;
  padding: 0px;
  font-size: 14px;
  color: #fff;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 35px; }

.row {
  background: #0cb3f8; }
  .row.hero-image {
    background: #0cb3f8; }
  .row .price {
    background: white;
    border-radius: 5px;
    padding-top: 20px;
    padding-top: 10px; }
    .row .price.alt {
      background: #1b8bf9; }
